body{
    background-color: darkgray;
}
h1 {
    color: darkgreen;
    text-align: center;
    }
    
    h2 {
        text-align: center;
        color: darkmagenta;
        }
button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}